.chip-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%;
  justify-content: center;
  width: 21%;
  margin-top: 42%;
  margin-left: 65%;
  transform: translate(-50%, -50%);
}

.chip-button {
  width: 23%;
  margin-top: 1.5%;
  height: auto;
  cursor: pointer;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
  border-radius: 50%;
}

.chip-button:hover {
  transform: scale(1.06);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chip-button:active {
  transform: scale(0.95);
  opacity: 0.7;
}

.current-bet {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  font-weight: bold;
  color: #efefef;
  padding: 0.5% 0.5%;
  border-radius: 10%;
  display: inline-block;
}
