.chip {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.chip img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.chip-stack {
  position: absolute;
  height: 100%;
  width: 100%;
}

.chip-container {
  position: relative;
  height: 25%;
  width: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
